* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Ebrima", sans-serif;
    font-size: 50%;
}

.main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 100%;
    background-color: #A0A0A0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
}

.section {
    /* margin-left: 20px;
    margin-top: 20px; */    

}

.section-content {
    margin-left: 5%;
}

.container {
    justify-content: center;
    width: 80%;
}

.footer {
    width: 100%;
    background-color: #A0A0A0;
    margin-top: 144px;
    overflow: hidden;
}

.footer-content {
    margin-left:13px;
}