* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Ebrima", sans-serif;
}

.main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 100%;
    background-color: #A0A0A0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
}

.links a.link:hover {
    color: white;
}

.section-content {
    margin-left: 5%;
}

.container {
    justify-content: center;
    width: 80%;
}

.footer {
    background-color: #A0A0A0;
    margin-top: auto;
}

.footer-content {
    margin-left:13px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#map {
    height: 20vh;
    width: 50vh;
    margin-left: 5%;
}