* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Georgia", serif;
}

.main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    /*ensure there's always space between main and footer... not a fan of this tbh :/ */
}

.nav {
    width: 100%;
    background-color: #A0A0A0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
}

.links a.link:hover {
    color: white;
}

.section-content {
    margin-left: 5%;
}

.container {
    justify-content: center;
    width: 80%;
}

.footer {
    background-color: #A0A0A0;
    margin-top: auto;
}

.footer-content {
    margin-left: 13px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#map {
    height: 20vh;
    width: 80%;
    margin-left: 5%;
}

.content-description {
    margin-bottom: 0.5%;
}

.center-text {
    margin: auto;
}

.subtext {
    padding-left: 31%;
}


/*gallery*/

.gallery-img {}

@media screen and (max-width: 500px) {
    .gallery-img {
        width: 100%;
    }
}

#selected_img {
    display: contents;
}

#image_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.gallery-section {
    display: flex;
    flex-wrap: wrap;
}

.gallery-btn {
    padding-top: 8%;
    font-size: 230%;
}

.expanded-img {
    width: 100%;
}

.compressed-img {
    width: 15%;
}